<nav class="navbar navbar-light bg-primary"> <!--navbar-light define a cor dos textos da nav bar, enquanto bg-dark define a cor de fundo da navbar-->
    <a class="navbar-brand" href="/">
        <img id="imagem-topo" src="/img/pergeresp.png">
    </a>
</nav>