<%-include('partials/header.ejs')%> 

<body>
    <%-include('partials/navbar.ejs') %>
    <div class="container">
        <div class="card" id="formulario-pergunta"> 
            <div class="card-header">
                <h2>Realizar pergunta</h2>
            </div>

            <div class="card-body">
                <form method="POST" action="/salvapergunta">
                    <label><b>Nome de Usuário/Email:</b></label>
                    <input type="email" placeholder="Usuário/email" class="form-control" name="usuario">
                    <br>
                    <label><b>Título:</b></label>
                    <input type="text" placeholder="Titulo" class="form-control" name="titulo"> 
                    <br>
                    <label><b>Descrição:</b></label>
                    <textarea placeholder="Descreva sua pergunta aqui!" class="form-control" name="descricao"></textarea> 
                    <br>
                    <button class="btn btn-primary">Perguntar</button>
                </form>
            </div>
        </div>
    </div>
</body>

<%-include('partials/footer.ejs')%>